body{
    background-color: #CDF0EA;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img{
    height: 140px;
}

h1{
    color: #C84B31;
}

h3{
    color: #66BFBF;
}

/* 66BFBF*/